* {
	/* (a) */
	font-family: sans-serif;
	/* (i) */
	box-sizing: border-box;
}
body {
	/* (b) */
	max-width: 1024px;
	/* (c) */
	background-color: rgb(150, 150, 150);
	/* (g) */
	padding-bottom: 2px;
	padding-top: 1em;
	
}
div {
	/* (c) */
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

p {
	/* (d) */
	margin-bottom: 2em;
}

section {
	/* (g) */
	/*padding-top: 1em;*/
	/* (e) */
	margin-bottom: 3em;
	/* (f) */
	margin-left: 3em;
	margin-right: 3em;
}

/* (h) */

