body {
	margin:0;
	overflow-y: hidden;
	min-width: 240px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	color: #f2f2f2;
	padding: 25px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}


#spistresci {
	margin-top: 70px;
	float: left;
	height: 100%; 
	position: fixed;
	width: 120px;
}

	

#main {
	padding-left: 20px;
	margin-top: 70px;
	margin-left: 120px;
	height: 90vh;
	/*height: calc(~"100vh - 150px");*/
	overflow: hidden;
	overflow-y: auto;
	float: left;
}